@font-face {
    font-family: RozhaOne-Regular;
    src: url("RozhaOne-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar Styles */
.navigation {
    color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: transform 0.2s ease;
}

.hidden {
    transform: translateY(-100%);
}

.navigation__bar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    background-color: #0056b3;
}

.navigation__bar li {
    padding: 0px 1.9vw;
}

.navigation__item--toggle {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navigation__logo-image img {
    height: 40px;
    width: auto;
    border: #28a745 1px solid;
    border-radius: 50%;
    padding: 2px;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

.language-icon {
    margin-right: 5px;
}

.language__text {
    font-size: 18px;
    font-weight: 900;
}

.country-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.country-info img {
    height: 20px;
    width: auto;
    margin-right: 5px;
}

.country-name {
    font-size: 20px;
    font-weight: 900;
}

.user-icon,
.notification-icon {
    cursor: pointer;
}

.navigation-menu {
    background-color: #28a745;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.navigation-menu::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Edge */
}

.menu-list {
    list-style: none;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 4px 2.0833333333vw;
}

.menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-list a:hover {
    border-bottom: #fff 2px solid;
    padding-bottom: 2px;
}

/* Input and Form Styles */

form {
    display: flex;
}

.searchinput {
    width: 35.7142vw;
    height: 35px;
    border: #28a745 2px solid;
    font-size: 15px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-left: 10px;
    outline: none;
}

.searchbutton {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    width: 50px;
    height: 35px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.herocontainer {
    display: flex;
    justify-content: space-between;
}

.subherocontainer {
    z-index: 1;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    padding: 2.7777vw;
}

.bach img {
    height: 8.3333vw
}

.goodwords ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.goodwords ul li {
    font-size: 20px;
    font-weight: 400;
    font-family: rozhaOne-Regular;
    color: white;
    background-color: #28a7468f;
    padding: 2px 18px;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.94vw;
    background-image: url(update.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    object-fit: cover;
    height: 44.666667vh;
}

.subupdates {
    background-color: #007bff8e;
    padding: 1.388vw 6.25vw;
    font-weight: 900;
    color: #00ff3c;
    font-family: yatraOne;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Navigation Buttons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0056b3b3;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 0.69vw;
}

.carousel-btn.prev {
    left: 0.6944444vw;
}

.carousel-btn.next {
    right: 0.6944444444vw;
}

.carousel-btn:hover {
    background-color: #000000b3;
}

.about {
    background-color: #0056b3;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44.6667vh;
}

.aboutus {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 4.1666666vw 8.333333vw;
}

.aboutus h1 {
    font-size: 2rem;
    font-weight: 700;
}

.aboutus p {
    font-size: 16px;
    line-height: 1.8;
}

.aboutus a {
    background: #28a745;
    /* Primary color for the button */
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.2s;
    text-decoration: none;
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
    padding: 4.166666vw;
    background-color: #f9f9f9;
    margin: 4.16666vw 8.333333vw;
    /* Light background for the card section */
}

/* Cards */
.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

.card-title {
    font-size: 1.2rem;
    color: #0056b3;
    /* Primary color for the title */
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.95rem;
    color: #555;
    /* Muted color for the text */
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background: #0056b3;
    /* Primary color for the button */
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.2s;
}

.btn:hover {
    background: #005bb5;
    /* Darker shade on hover */
}

/* Quotation Section */
.quotation-section {
    padding: 4.166666vw;
    margin: 4.166666vw 8.33333333vw;
    background-color: #f9f9f9;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: #28a745;
    margin-bottom: 30px;
}

.quote-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin: auto;
    height: 130px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 5px;
}

.quote-author {
    font-size: 18px;
    font-weight: 700;
    color: #0056b3;
    font-weight: bold;
}

.side-bar-active {
    display: none;
}

.vnm_section {
    background-color: #f9f9f9;
    padding: 4.16666vw;
    margin: 4.1666666vw 8.3333333333333vw;
}

.vnm_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.vision,
.mission {
    flex: 1;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    min-width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vision:hover,
.mission:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

.vision h2,
.mission h2 {
    color: #0056b3;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.vision p,
.mission p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.vision_button,
.mission_button {
    text-align: center;
    margin-top: 20px;
}

.vision_button button,
.mission_button button {
    background: #0056b3;
    /* Primary color for the button */
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.2s;
    border: none;
}

/* Overall Section */
.founder-section {
    padding: 4.166666vw;
    margin: 4.166666vw 8.33333333vw;
    background: #f9f9f9;
}

/* Container */
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Founder Content */
.founder-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background-color: white;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.founder-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

.founder-image img {
    max-width: 250px;
    border: #0056b3 2px solid;
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.founder-image img:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

.founder-details {
    max-width: 750px;
    text-align: left;
}

.founder-details h1 {
    font-size: 2rem;
    color: #0056b3;
    margin-bottom: 5px;
}

.founder-details p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 20px;
}

.founder-details blockquote {
    font-size: 16px;
    color: #555;
    border-left: 4px solid #0056b3;
    padding-left: 15px;
}

/* Social Media Section */
.founder-social {
    text-align: center;
    margin-top: 30px;
}

.social-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37.5px;
    background: #0056b3;
    /* Primary color for the button */
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-btn:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

/* Team Section */
.team-section {
    background-color: #f9f9f9;
    text-align: center;
    padding: 4.166666vw;
    margin: 4.166666vw 8.33333333vw;
}

/* Title and Subtitle */
.team-title {
    font-size: 2rem;
    color: #0056b3;
}

.team-subtitle {
    font-size: 16px;
    color: #555;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* Team Grid */
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
}

/* Team Card */
.team-card {
    background: #ffffff;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    /* Slight lift on hover */
}

/* Team Member Image */
.team-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border: 1px solid #0056b3;
}

/* Team Member Name */
.team-card h3 {
    font-size: 18px;
    font-weight: 700;
    color: #28a745;
    margin-bottom: 5px;
}

/* Team Member Role */
.team-card p {
    color: #555;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Social Links */
.social-linkst {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-linkst a {
    text-decoration: none;
    color: white;
    background: #0056b3;
    font-size: 14px;
    padding: 8px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.social-linkst a:hover {
    background: #0056b3;
    transform: scale(1.1);
}

.social-linkst i {
    display: block;
}


#footercontent {
    color: #00ff3c;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.newsletter-input {
    padding: 5px 10px;
    width: 70%;
    margin-right: 10px;
    border: 1px solid #28a745;
    background-color: #ffffff;
    color: #0078d7;
    font-size: small;
    outline: none;
}

.newsletter-button {
    background-color: #28a745;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    width: 112px;
    font-size: small;
    border: 1px solid #28a745;
}

/* Feedback Container */
.feedback-container {
    background-color: #0056b3;
    color: #ffffff;
}

/* Feedback Description */
.feedback-description {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 10px
}

/* Feedback Input Field */
.feedback-input {
    padding: 10px;
    border: 1px solid #28a745;
    background-color: #ffffff;
    color: #0078d7;
    border-radius: 2px;
    font-size: small;
    outline: none;
    resize: none;
}

/* Feedback Button */
.feedback-button {
    background-color: #28a745;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: small;
    transition: background-color 0.3s ease;
    width: 112px;
    border: 1px solid #28a745;
}

.feedback-button:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Feedback Response */
#feedback-response,
#newsletter-response {
    font-size: 14px;
    color: #00ff3c;
    margin-top: 10px;
}

@media (max-width:1420px) {

    .navigation__item--toggle {
        display: block;
    }

    .navigation__item--language,
    .navigation__item--profile,
    .haboutus,
    .country-info,
    .navigation__item--notifications {
        display: none;
    }

    #footercontent {
        margin-bottom: 5px;
    }

    .aboutus {
        margin: 0;
        width: 100%;
    }

    .aboutus h1 {
        margin-bottom: 7px;
    }

    .updates {
        font-size: 40px;
    }
}